---
import Layout from "../layout/Layout.astro";
---

<Layout> 
	<!-- <h1>ach</h1> -->
	<div class="px-8 py-8">
		<div class="px-8 py-8">
			<p class="font-mono text-2xl font-black">Хакатон</p>
			<p class="font-sans italic text-base font-medium">В этом году я впервые участвовала в хакатоне и заняла 1 место!</p>
			<p>Мы участвовали командой из 3 человек: я, Вадим и Алексей. Я отвечала за дизайн.</p>
		</div>
		
		<div class="px-8 py-8">
			<p class="font-mono text-2xl font-black">Выступление</p>
			<p class="font-sans italic text-base font-medium">Также в этом году я наконец-то решилась пойти играть на фортепиано и даже выступила на отчетном концерте перед большим количеством людей.</p>
			<p>Пойти на фортепиано я решила после посещения 3-х концертов классической музыки, мне так нравилось как там играют, что мне тоже захотелось.</p>
		</div>

		<div class="px-8 py-8">
			<p class="font-mono text-2xl font-black">Самое важное достижение</p>
			<p class="font-sans italic text-base font-medium">Но самым главным достижением я считаю то, что пару раз я победила Вадима в червяках.</p>
			<p>Достижение, которое далось тяжелее всего, потому что за все время я так и не научилась пользоватся веревками.</p>
		</div>
	</div>
</Layout>